.folder {
    cursor: pointer;
    display: inline;
}

ptr {
    cursor: pointer;
    font-size: 2.5em !important;
}

.menu-icon {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: calc(min(20px,20vw));
    margin-top: calc(min(20px,2vh));
    margin-bottom: calc(min(20px,2vh));
}

.menu {
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    width: calc(min(100vw,300px));
    height: 100%;
    background-color: #fff;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    overflow: scroll;
}
  
body.open .menu {
    transform: translateX(0);
}
  
.close-icon {
    text-align: right;
    color: #606c71;
    display: block;
    margin-right: calc(min(20px,20vw));
    margin-top: calc(min(20px,2vh));
    margin-bottom: calc(min(20px,2vh));
}
  
#hamburger {
    margin: 0;
    padding: 0;
    list-style: none;
}
  
#hamburger>li {
    padding: calc(min(10px,1vh));;
    border-bottom: 2px solid #eff0f1;;
}
  
li:last-child {
    border-bottom: none;
}

#overlay {
    position: fixed;
    cursor: unset;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
    z-index: 998; /* make sure it's on top of everything else */
    display: none; /* hide it by default */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
  
#overlay.show {
    opacity: 1;
}
  
#overlay.hide {
    opacity: 0;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
* {
  scrollbar-width: none;
}
