.folder {
    cursor: pointer;
}

ptr {
    cursor: pointer;
}

.menu-icon {
    position: fixed;
    top: 0;
    right: 0;
    margin: 20px;
    font-size: 2em !important;
}

.menu {
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    width: 25vw;
    height: 100%;
    background-color: #fff;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}
  
body.open .menu {
    transform: translateX(0);
}
  
.close-icon {
    text-align: right;
    color: #606c71;
    display: block;
    margin: 20px;
    font-size: 2em !important;
}
  
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
  
li {
    padding: 10px;
    border-bottom: 2px solid #eff0f1;;
}
  
li:last-child {
    border-bottom: none;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
    z-index: 998; /* make sure it's on top of everything else */
    display: none; /* hide it by default */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#overlay {
    /* previous styles */
    transition: opacity 0.3s ease-in-out;
}
  
#overlay.show {
    opacity: 1;
}
  
#overlay.hide {
    opacity: 0;
}
  